<!DOCTYPE html>

<head>
    #showHead ("alipay test")
</head>

<body>
	
$screen_placeholder

<hr/>
<p>[<a href="$app1Link.setTarget("index")">Home</a>] [<a href="$app1Link">Dev Home</a>]</p>

</body>
</html>